.header {
    background-color: red;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    -webkit-app-region: drag;
    -webkit-user-select: none;

    .headeritem {
        padding: 10px;
        margin: 5px;
        background-color: blue;
        display: inline-block;
        text-align: center;
    }
}